*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'proxima Nova alt';
}

a{
  text-decoration: none;
  color: #cae4e3;
  padding: 5px;
  padding-left: 10px;
}

ul li {
  height: 50px;
  font-size: 20px;
  width: 100%;
  margin-top: 15px;

}

i {
  font-size: 30px;
}

a:hover{
  background-color: #cae4e3;
  border-radius: 2%;
  color: #00454e;
}

.link-navn i{
  padding-top: 20px;
}


#ucl{
  width: 100%;
  max-width: 15rem;
}

#nav-overskrift{
  font-size: 1.5rem;
}

.v0 { grid-area: a;}
.v1 { grid-area: b;}
.v2 { grid-area: c;}

.grid{
    display: grid;
    grid-template-areas:
      'a a'
      'b c';
    grid-template-columns: 1fr 5fr;

  }

.v0{
  padding: 2rem;
  background-color: #cae4e3;
}


  .v1{
    background-color: #00454e;
    color: #cae4e3;
    height: 1000px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .v2{
    padding-left: 2rem;
    background-color: #white;
  }
